/* Website Font */
@import url('https://fonts.googleapis.com/css2?family=Exo&family=Open+Sans&display=swap');

/* Section: Callout */
.callout-container{
    height: 95vh;
    background: url(https://images.unsplash.com/photo-1462400362591-9ca55235346a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1434&q=80) no-repeat;
    background-size: cover;
    background-position: center;
}

.callout-section{
    position: relative;
    top: 10rem;
    color: white;
}

.callout-header{
    font-family: "Exo", sans-serif;
    font-size: 300%;
}

.callout-text{
    font-family: "Open Sans",sans-serif;
    font-size: 125%;
}

/* Navbar */
.nav-link{
    color: white;
}

.fa-bars{
    color: white;
    font-size: 1.5rem;
}

.btn-recommedations{
    border: 2px solid white;
    color: white;
    font-family: "Exo", sans-serif;
}

/* Section: Search */
.search-container{
    background-color: #C1D6D9;
    height: max-content;
    padding-bottom: 3rem;
}

.search-header{
    font-family: "Exo", sans-serif;
    font-size: 235%;
    margin: 2rem;
    color: white;
}

.search-bar{
    width: 100%;
    border: 2px solid #C1D6D9;
}

input::placeholder {
  color: #C1D6D9;
  font-family: "Open Sans", sans-serif;
}

#mapAuto{
    height: 80vh;

}

#listing{
    padding: 0;
}

.attraction-icon{
    height: 24px;
    width: 24px;
}

#resultsTable {
    border-collapse: collapse;
    
}

#rating {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
}

.iw_table_row {
    height: 18px;
    font-family: "Open Sans", sans-serif;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
    font-family: "Open Sans", sans-serif;
}

.iw_table_icon {
    text-align: right;
}

/* Section: Recommendations */
.recommedation-header{
    font-family: "Exo", sans-serif;
    font-size: 235%;
    margin: 2rem;
    color: #F2AB9B;
}

.cancun{
    height: 20rem;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(https://images.unsplash.com/photo-1512813389649-acb9131ced20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    padding: 0;
    margin: 0.4rem;
}

.london{
    height: 20rem;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(https://images.unsplash.com/photo-1520986606214-8b456906c813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    padding: 0;
    margin: 0.4rem;
}

.florida{
    height: 20rem;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(https://images.unsplash.com/photo-1514214246283-d427a95c5d2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=673&q=80);
    background-size: cover;
    padding: 0;
    margin: 0.4rem;
}

.santorini{
    height: 20rem;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(https://images.unsplash.com/photo-1563789031959-4c02bcb41319?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);
    background-size: cover;
    padding: 0;
    margin: 0.4rem;  
}

.kingston{
    height: 20rem;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(https://images.unsplash.com/photo-1437719417032-8595fd9e9dc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);
    background-size: cover;
    padding: 0;
    margin: 0.4rem;
}

.bali{
    height: 20rem;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(https://images.unsplash.com/photo-1539014861783-7ac37e9d290c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    padding: 0;
    margin: 0.4rem;
}

.feature-header{
    color: white;
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    top: 7rem;
    font-size: 200%;
}

.feature-country{
    color: white;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    position: relative;
    top: 7rem;
}

/* Section: Modal*/

#modal-header{
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.5rem;
    color: #F2AB9B;
}

.close-btn{
    font-size: 3rem;
}

#modal-country{
    color: black;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
}

.modal-guide-header{
    font-family: "Exo", sans-serif;
    font-size: 1.5rem;
    color: #F2AB9B;
}

.quick-list{
    list-style-type: none;
    padding: 0px;
}

.quick-icon{
    font-size: 1.2rem;
    padding-right: 0.5rem;
}

.quick-item{
    margin-bottom: 1rem;
    font-family: "Open Sans", sans-serif;
}

#mapModal{
    height: 80vh;
}

.attraction-header{
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3rem;
    color: #F2AB9B;
    margin: 2rem;
}

.btn-book{
    border: 2px solid #F2AB9B;
    color: white;
    font-family: "Exo", sans-serif;
    background-color: #F2AB9B
}

.card-hr{
    border: 1px solid #C1D6D9;
}

.card-list{
    list-style: none;
    padding: 0;
}

.card-item{
    font-family: "Exo", sans-serif;
}

.card-img-top{
    height: 250px;
}

/* Section: Contact Us */
.contact-container{
    background-color: #C1D6D9;
}

.contact-header{
    font-family: "Exo", sans-serif;
    font-size: 235%;
    margin: 2rem;
    color: white;
}

.btn-contact{
    border: 2px solid white;
    color: white;
    font-family: "Exo", sans-serif;
}

/* Section: Footer*/
.footer-container{
    background-color: #F2AB9B;
    padding: 5px 0 5px 0;
    font-family: "Exo", sans-serif;
}

footer{
    font-size: 1.5rem;
    color: white;
}


